# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local

# Environment variables
.env*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Vite
.vite/
